@import "const.css";

body {
	background-color: var(--bgColor-2);
}

input[type=text],
input[type=button] {
	border: 1px solid var(--mainColor-2);
	border-radius: 3px;
	height: 30px;
	vertical-align: middle;
	padding: 0 8px;
	background-color: var(--bgColor-2);
	color: var(--mainColor-2);
}

input[type=text] {}

input:focus {
	outline: 0;
	box-shadow: 0 0 2px rgba(0.8, 95, 158, 160);
}

input[type=button] {
	height: 32px;
	padding-left: 12px;
	padding-right: 12px;
}

hr {
	border: 0;
	border-top: 1px solid var(--mainColor-2);
	padding: 0;
}
